h1 {
    font-size: 50px;
    color: red;
}

.std-width {
    width: 80%;
}

header {
    height: 15vh;
}

input {
    width: 40%;
    background-color: black;
    color: gray;
    padding: 0.5rem 1rem;
    border: 1px solid gray;
    border-radius: 15px;
}

main button {
    width: 2rem;
    height: 278px;
    border: 0;
    opacity: 0%;
    background-color: #67676772;

    &:hover {
        opacity: 100%;
    }
}

.movieInfo {
    opacity: 0%;
    height: 231px;
    background-color: #3e3e3eac;

    &:hover {
        opacity: 100%;
    }
}